[2015-09-24 18:07] peastman opened #5 "Improve appearance of benchmarks table"
With the latest updates to the benchmarks, the table has started looking kind of ugly, because the column hearers are broken in strange places.  At least on my computer, for example, I see

    CUDA (GTX Titan
    X)

There's no reason it needs the line break.  There's plenty of room for the table to become wider.  But it isn't doing it.

[2015-09-25 15:50] peastman commented on #5
Fixed by #6.

[2015-09-25 15:50] #5 closed

[2015-10-23 10:59] jchodera opened #8 "Add a separate Download page that displays various options for downloading OpenMM"
We may want to list and link to
- Current binary releases
- Older binary releases
- Conda installation directions

[2016-11-09 00:17] jchodera opened #12 "Add a page on 'system requirements' or compatible GPUs"
It would be great to have some information on what hardware is required to run OpenMM

[2017-03-21 19:33] mpharrigan opened #15 "Support markdown for forthcoming openmm examples / tutorials"
@jchodera and company are working on examples / tutorials to support the openmm paper. Per the openmm call last Friday, we want them on the openmm website. I think @jchodera has them in markdown format.

I'm going to add the jekyll static site generator (used via github pages) so we can support markdown documents. I'll also refactor out the boilderplate html (styling, menus). The current pages wil

[2017-03-21 19:40] jchodera commented on #15
Yes! See here:

https://github.com/choderalab/openmm7tutorials

More figures and some updates coming.

[2017-08-11 19:24] Lnaden opened #17 "Permit additional users to commit to master"
Reminder issue per call today to allow at least @jchodera write access to this repo, and possibly me (@lnaden) to make managing the site less burdensome on a few people. Also allows easier example additions.

[2017-08-12 16:39] jchodera commented on #17
I'd also like some credentials to access the `openmm.org` S3 bucket in case I have to do some manual cleanup.

I want to get this up before my talk on developing with OpenMM at the Tue 15 Aug at the [E-CAM meeting](https://www.lorentzcenter.nl/lc/web/2017/905/program.php3?wsid=905&venue=Snellius). Can someone give me access to the repo and S3 ASAP?

[2017-08-14 17:11] peastman commented on #17
Done.  We should still make changes through pull requests, though, so people can review them first.

I don't know who manages that.  Maybe ask Theresa?

[2017-08-14 19:05] jchodera commented on #17
I think it was originally @rmcgibbo

[2017-08-14 19:42] jchodera commented on #17
Thanks!

To clarify, I think we should still make changes to `master` through pull requests from `preview`, but that it will be useful to make changes to `preview` that would allow us to review a live version of the page and make changes.

After merging #19, I think we should
* push a copy of `master` to `preview`
* protect the `master` branch from direct commits

[2017-08-14 19:48] Lnaden commented on #17
I'm +1 on continuing changes by PR into `preview` and locking `master` from direct commits.

[2017-08-15 09:15] #17 closed

[2017-08-15 09:16] jchodera commented on #17
I've been added to the repo (and I think @lnaden too).

[2017-08-15 09:22] jchodera opened #20 "Protect master branch from direct commits"
It appears I have write access, but not admin access, so @peastman will have to lock the `master` branch from direct commits.

[2017-08-15 09:34] jchodera opened #21 "Add preview.openmm.org link to http://openmm.org/preview"
How is the http://docs.openmm.org redirect to http://openmm.org/documentation.html work, and who has control over that?

I've created a `preview` branch we should make changes to (or create PRs against). This will push the preview to http://openmm.org/preview/. We should create an http://preview.openmm.org redirect.

[2017-08-15 09:35] jchodera commented on #15
This is now implemented thanks to @mpharrigan!

[2017-08-15 09:35] #15 closed

[2017-08-15 09:35] jchodera commented on #8
This is probably OK for now.

[2017-08-15 09:35] #8 closed

[2017-08-15 11:50] Lnaden commented on #17
Im a collaborator at the very least, so I should be good

[2017-08-15 16:59] peastman commented on #20
Done, thanks.

[2017-08-15 16:59] #20 closed

[2017-09-02 18:10] jchodera opened #24 "Migration plan for openmm.org and docs.openmm.org S3 buckets"
I think @mpharrigan has access to these buckets, but given that he is moving on, we should make sure others have access.

@peastman : Do you have access as well? Can you designate someone else with access too?

[2017-09-02 18:13] jchodera opened #25 "Add support for rendering Jupyter notebooks"
I have prepared some Jupyter notebooks to help MD practitioners new to OpenMM get started:
https://github.com/choderalab/openmm-tutorials

It would be great to include these in the [OpenMM Tutorials page](http://openmm.org/tutorials/index.html).

One approach is to use [`jupyter nbconvert`](https://github.com/jupyter/nbconvert) to convert them to Markdown, but this loses a lot of formatting of the

[2018-12-21 21:43] peastman opened #28 "Update to website?"
I pushed some changes to the master branch yesterday, but they still don't seem to be showing up in the live website.  Is there something else I need to do?

[2019-01-25 20:15] peastman commented on #28
@jchodera do you have any idea about this?  You were the last person to edit the deployment code, so I assume you have some idea how it works (unlike me!).  See the error log at https://travis-ci.org/pandegroup/openmm-org, which contains a huge stack trace but no information I'm sure how to interpret.

[2019-01-26 20:41] jchodera commented on #28
Whoops, I wasn't watching this repo and hadn't seen this earlier!

That error looks like a timeout during transfer. [This issue](https://github.com/aws/aws-sdk-ruby/issues/904) suggests one cause could be caused by a misspecified availability zone, but it may not be the case if those earlier files get pushed in [these lines](https://travis-ci.org/pandegroup/openmm-org/jobs/470780273#L761-L768).

I

[2019-03-20 19:21] peastman commented on #28
Any updates on this?  I see the website is still showing the old benchmarks.

[2019-03-20 19:28] jchodera commented on #28
Sorry about the delay---I've just been totally buried, but can get to it this weekend.

[2019-09-04 18:51] peastman commented on #28
@jchodera I take it you didn't get to this that weekend? :)  But fixing this is now quite urgent.  We'll probably be releasing 7.4 next week, and if this still isn't fixed, we won't be able to update the website!

[2019-09-04 21:28] jchodera commented on #28
Understood! Working on debugging.
We also need to put up some information about the OpenMM Consortium.

[2019-09-05 17:41] jchodera commented on #28
@peastman : It looks like I don't have edit/write access to the https://github.com/pandegroup/openmm-org repo. Can you add me? I might have to edit the secret env vars.

Perhaps we should also migrate this to the http://github.com/openmm org at the same time?

[2019-09-05 17:43] peastman commented on #28
I'll move this over to the openmm org.

[2019-09-05 17:45] peastman commented on #28
You should have access now.

[2019-09-05 22:07] jchodera commented on #28
Thanks!

[2019-09-06 03:49] jchodera commented on #28
I'm still working through travis/S3 issues. Will probably take through the weekend.

[2019-09-11 21:42] jchodera commented on #28
@peastman : The good news is that the docs for 7.4.0 were successfully pushed to http://docs.openmm.org, and are available in the http://docs.openmm.org/7.4.0 subdirectories, as in
* User guide: http://docs.openmm.org/7.4.0/userguide/index.html
* Dev guide: http://docs.openmm.org/7.4.0/developerguide/index.html
* Python API: http://docs.openmm.org/7.4.0/api-python/index.html
* C++ API: http://docs

[2019-09-11 21:44] jchodera commented on #28
@peastman: It looks like we manually copy the docs into `latest`:
https://github.com/openmm/openmm/issues/1813
I'll see if I can figure out how to do it, but it would be cool if we could just push to `latest` at deploy time as well.

[2019-09-11 21:47] jchodera commented on #28
@peastman: Also, I've verified the development docs are properly deployed from the http://github.com/openmm/openmm repo.

What I haven't figured out is how the 7.4.0 release docs were pushed to the `docs.openmm.org` bucket. Any ideas?

[2019-09-11 21:48] jchodera commented on #28
Correction: The User and Dev guide are properly deploying to the `development` docs, but not the Python or C++ API docs.

[2019-09-11 22:01] #28 closed

[2019-09-11 22:06] peastman commented on #28
The 7.4 docs got uploaded because I manually uploaded them yesterday!  I believe we've always done that.  They don't involve this repository.  The development docs are supposed to automatically get uploaded by travis.

[2019-09-11 22:06] jchodera commented on #28
@peastman:

Good news: This repo is now correctly deploying.

Bad news: The [benchmarks page](http://openmm.org/about.html#benchmarks) is only updated for 7.3. Do we have 7.4 benchmarks?

[2019-09-11 22:06] jchodera commented on #28
Great! You'll just need to do the same thing to upload them to `latest` in the `docs.openmm.org` bucket as well.

[2019-09-11 22:17] peastman commented on #28
Not yet.  But that means https://github.com/openmm/openmm-org/pull/27 has finally gotten deployed, so I can start doing all the updates to the website for 7.4.

[2019-09-11 22:29] jchodera opened #30 "Add OpenMM Consortium members to website"
@peastman: Should we add the members of the OpenMM Consortium to the website?

[2019-09-11 22:29] jchodera commented on #24
We have S3 access sorted now!

[2019-09-11 22:29] #24 closed

[2019-09-11 22:31] jchodera commented on #21
@peastman : Do you know who has the keys to the domain name provider running openmm.org and the DNS records associated with it?

[2019-09-11 22:32] jchodera commented on #12
This would still be very useful, along with recommended benchmarks.

This [gromacs paper](https://arxiv.org/abs/1903.05918) has some great analyses that would be useful to repeat for OpenMM.

[2019-09-11 22:41] peastman commented on #21
No idea about any of that.

[2019-09-11 22:42] peastman commented on #30
We should add a page describing the consortium and listing the members.

[2019-09-12 03:11] jchodera opened #31 "List latest version number of front page?"
Should we list the latest major.minor version number on the webpage?
![image](https://user-images.githubusercontent.com/3656088/64751159-5466c300-d4e9-11e9-9f90-45c3095878e3.png)
Maybe "OpenMM 7.4" instead?

We could also add a link to "See latest release notes" so folks could check out what is new in the latest version, linking to the GitHub releases page:
https://github.com/openmm/openmm/release

[2019-09-13 17:25] peastman commented on #31
That would be fine.

[2019-09-15 19:40] jchodera opened #32 "Add a page on citing OpenMM?"
What do you think about adding a page to make it easy to cite OpenMM, like [MDTraj does](http://mdtraj.org/1.9.3/)?
![image](https://user-images.githubusercontent.com/3656088/64926726-e2cf9300-d7ce-11e9-8a5e-977136cf2edb.png)

[2019-09-15 20:17] peastman commented on #32
You mean like https://simtk.org/plugins/publications/index.php?type=group&id=161&pluginname=publications?

[2019-09-16 19:11] jchodera commented on #32
Yes! That's hard to find from openmm.org. Maybe we can link to that, or move it over to openm.org?

[2019-09-16 19:22] peastman commented on #32
Sure, let's add a link.

[2020-09-03 12:55] giadefa opened #37 ""Gromacs built on OpenMM" on website"
I think that this is not really representing the real situation. I suggest to change Gromacs by ACEMD.

[2020-09-07 18:30] jchodera opened #38 "SSL certificate expired"
The openmm.org certificate has expired.

@peastman : Do you know anything about how SSL certificates work, or how to renew ours?

[2020-09-08 18:04] peastman commented on #38
Very little, I'm afraid.  It isn't something I've ever had to deal with.

[2020-09-08 18:19] Lnaden commented on #38
If the site is being hosted to an s3 bucket, than I suspect its also being served a certificate through [Amazon ACM](https://aws.amazon.com/certificate-manager/). So whoever has root or IAM access to the s3 and acm service should be able to just request a new cert.

That's just a guess though, I don't know how the certificate is actually managed.

[2020-09-08 20:14] peastman commented on #38
That seems possible.  How do I determine whether that's what it's using?

Alternatively if we can [get it moved over to Github Pages](https://github.com/openmm/openmm/issues/2824) this won't be an issue anymore.

[2020-09-08 20:38] Lnaden commented on #38
Good question. I don't actually know to be honest. My Chrome browser seems to think there is no certificate (or at least its not showing me one), even an expired one.

There are a few guides I have found, they involve using the AWS CloudFront to post the cert after generating. Here is one

https://thenewstack.io/how-to-set-up-your-s3-bucket-with-https-in-an-hour/

But... tacking on more services m

[2020-09-08 20:42] Lnaden commented on #38
might also be able to get a 3rd party cert (e.g. lets-encrypt and certbot) and have the bucket just point to that. i'd have to see how buckets serve sites to tell though

[2020-09-09 14:48] Lnaden commented on #38
If either of you have access to issue a new IAM to the aws group, I can take a look and see if I can figure out how the cert was set up, and document how to get a new one for next time this happens?

[2020-09-30 13:55] jchodera opened #39 "Update developers/contributors"
We need to update the listed developers/contributors

[2021-01-11 14:45] raimis opened #44 "Priorities of improvements"
@giadefa just made me the admin of this repository. So, I'll dedicate some of my time maintaining and improving http://openmm.org

@jchodera @peastman First, I want to discuss what would be priorities. Are any specific issues I should start with?

In general, my opinion is that the navigation is a bit messy. There are 3 buttons at the top, 5 big links an the bottom, this should be organized into a

[2021-01-11 18:05] peastman commented on #44
Agreed about the navigation.  Do you want to put together a mockup of a revised version?

[2021-01-18 18:25] raimis commented on #44
I have made a mock up of the new website: https://raimis.github.io/openmm-org/

- Navigation and layout are mostly done. Content is just copied from the old one.
- The site is completely static (from the server side). It could be hosted on GitHub Pages.
- Jekyll is too primitive even for a such simple site like this. So I have replaced it with Vue.

@jchodera @peastman @giadefa

[2021-01-18 19:21] peastman commented on #44
I really like this design!  The organization is much clearer than before.

[2021-01-20 20:18] giadefa commented on #44
I like it

[2021-01-21 04:25] jchodera commented on #44
@raimis : Thanks so much for putting this together, @raimis! Let me get you more detailed feedback this weekend.

One major goal is to make the website easier to update and add content to. Is it still using jekyll through a PR somewhere I can inspect?

[2021-01-21 12:24] raimis commented on #44
@jchodera

PR: https://github.com/openmm/openmm-org/pull/45

As mentioned above, *Jekyll* was replaced by *Vue*.

For maintainability:
- Each tab is a separate component. So, it should be easy to find there to change, e.g. the documentation tab (https://github.com/raimis/openmm-org/blob/new/documentation.vue)
- Tutorials (formatting is still not cleaned up) are rendered directly from *Mardown* fil

[2021-01-26 19:23] raimis commented on #44
@jchodera @peastman

Regarding SimTK and Omnia, how much those are still relevant? Or they are just a legacy? I'm wondering how much emphasis to put on them in the new website?

Regarding the tutorial, apart the ones in this repo, I found this https://github.com/choderalab/openmm-tutorials. Are they still maintained? Maybe it would make sense to keep all the tutorials together?

[2021-01-26 19:28] giadefa commented on #44
if possible I would remove them

On Tue, Jan 26, 2021 at 8:23 PM Raimondas Galvelis <notifications@github.com>
wrote:

[2021-01-26 19:57] peastman commented on #44
The forum on simtk.org is still quite active, so we want to keep the link to that.  But otherwise, there doesn't need to be any simtk branding.

I don't think a lot has been done with the omnia brand in a while.

[2021-01-26 20:11] giadefa commented on #44
What about moving the forum to github discussions in openmm directly?

On Tue, Jan 26, 2021 at 8:58 PM Peter Eastman <notifications@github.com>
wrote:

[2021-01-31 01:19] jchodera commented on #44
I'd really like to migrate away from simtk to github, so think we should at least enable GitHub Discussions. See the docs [here](https://docs.github.com/en/discussions).

I wonder if there would be a way to work with GitHub to migrate the old SimTK forums (including datestamps) to GitHub at some point. I know there's a lot of history there that might make sense to preserve.

Alternatively, we can

[2021-01-31 01:20] jchodera commented on #44
I think we should remove references to Omnia at this point. We are now deploying through [Conda Forge](https://conda-forge.org/), which is our larger scientific app community now.

[2021-01-31 01:22] jchodera commented on #44
@raimis : Thanks so much for tackling this, and your patience in letting us look through this!

I think this is a big usability and maintainability improvement. Let us know how we can help provide useful information to populate it.

[2021-02-25 18:19] mikemhenry opened #46 "Tutorial Updates"
Wanted to make an issue before making a PR updating the tutorials to more closely follow PEP8 and use modern features of the python language.  Since python3.6 is the oldest version of python supported in the next openmm release (at least that is my understanding) I would not use any features newer than those available in 3.6.

My motivation is that most users will copy and paste a tutorial and ada

[2021-02-26 03:14] peastman commented on #46
I find the former clearer, since it doesn't separate the name `sigma` from the value you're assigning to it.  In fact, I'd split this into two lines:

[code]

Agreed about the formatting, not about the -1.  If you print "state 0 / 9", that indicates there are 9 states when in fact there are 10.

[2021-02-26 10:15] raimis commented on #46
@mikemhenry thanks for your interest! The tutorials would definitely benefit from some updates and clean up.

I think that we don't need so much comment about the language features. If they want to learn Python, there are better tutorial for that.
[code]

Also, keep in mind, there are more tutorials (https://github.com/openmm/openmm-org/issues/25). At some point, we may convert these one to Jupyte

[2021-02-26 12:23] mikemhenry commented on #46
Sounds good! I'll take a pass at things and I really appreciate the feedback!

There are 10 states when going 0 to 9, what looks weird is when the loops end like:

[code]

I think most people would expect an iteration to look like

[code]

or

[code]

[2021-02-26 13:52] mikemhenry commented on #46
That is a good point, I'll focus on the scripts so that if we decide to switch to notebooks we can import the code so we don't need to copy and paste/maintain it in two locations. If we don't end up doing it by the time we are happy with the tutorials then I'll split things up and copy it back into `index.md`

PR opened https://github.com/openmm/openmm-org/pull/47

[2021-02-26 17:41] peastman commented on #46
Adding 1 to `k` instead of subtracting 1 from `nstates` seems clearest.  That way it counts from `1/10` up to `10/10`.

[2021-03-09 18:32] jchodera opened #48 "Add statement to website on who to contact if you’re interested in joining the OpenMM team"

[2021-03-12 12:08] raimis commented on #44
@jchodera @giadefa @peastman

New website (#45): https://raimis.github.io/openmm-org/

Current status:
- Migrated most of the content from the old website
- Reorganised the content into several sections (tabs)
- Layout/formatting is done, but needs a bit of tweaking to look good

My plan is to finish fixing layout/formatting issues and replace the old website. Further improvements will come after.

[2021-05-20 14:08] raimis opened #49 "Migration to GitHub Pages"
In preparation to the new website (#45), we need to move to the GitHub Pages (https://docs.github.com/en/pages). Apparently, even the current (old) website works fine on the GitHub Pages: https://openmm.github.io/openmm-org/

To complete the migration, the DNS record of [openmm.org](openmm.org) has to be update: https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-sit

[2021-05-20 14:09] raimis commented on #49
@jchodera, as I remember, you have access to the domain records.

[2021-05-20 17:58] jchodera commented on #49
Yes! I can do this if we're ready to go!

@peastman @Yoshanuikabundi : Do you think we're ready to go now?

[2021-05-20 20:05] jchodera commented on #49
The only thing I noted is that the Markdown renderer does not do syntax highlighting, but this is minor and something we can fix.

Thanks so much for all the effort you put into this, @raimis! I'll switch this today and report back!

[2021-05-21 04:01] Yoshanuikabundi commented on #49
Looks good! The docs are still served over HTTP rather than HTTPS, so they're not being rendered with GitHub Pages - I'm sure you all know that but I'm mentioning it in case it suggests to someone with more knowledge about how everything is served that something is wrong.

[2021-05-21 04:28] jchodera commented on #49
@Yoshanuikabundi : That's a great point! Can you open an issue to remind us about this?

[2021-05-24 21:18] jchodera commented on #49
@peastman @raimis I'm starting the DNS migration/update now.

[2021-05-24 21:31] jchodera commented on #49
Migration complete! Let me know if you notice anything broken with the DNS.

For reference: I've deleted the AWS Route 53 zone that was previously serving our DNS and switched to GoDaddy's DNS servers, following the [instructions](https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site#configuring-an-apex-domain) l

[2021-05-24 21:34] jchodera commented on #49
It looks like everything at docs.openmm.org (which is still hosted on S3) appears to be broken.

Let me see if I can fix that with GoDaddy's DNS. Otherwise, I'll migrate back to Route 53 DNS and just serve DNS from that.

[2021-05-24 21:42] jchodera commented on #49
For reference, here are the old AWS Route 53 records:
![image](https://user-images.githubusercontent.com/3656088/119410746-2a920780-bc9e-11eb-8225-0ef54dbf44f1.png)

And here are my updated GoDaddy records:
![image](https://user-images.githubusercontent.com/3656088/119410636-06362b00-bc9e-11eb-958e-f538882956c5.png)

I'm still seeing issues with docs.openmm.org and the docs pages within, but I'm n

[2021-05-24 22:08] jchodera commented on #49
Looks like this is not working at all now, so I will likely need to revert back.

[2021-05-24 22:46] jchodera commented on #49
openmm.org is working now that I've changed the GoDaddy records, but I'm still not able to get the docs pages to work:
![image](https://user-images.githubusercontent.com/3656088/119415714-04249a00-bca7-11eb-9262-4b124f9301b8.png)
Any ideas?

URLs like http://docs.openmm.org/latest/userguide/index.html are not correctly being redirected to http://docs.openmm.org.s3-website-us-west-1.amazonaws.com/l

[2021-05-24 23:10] peastman commented on #49
The docs are working for me.  I don't know whether that's because something cached somewhere hasn't propagated to me yet, or because you needed to wait a little longer for a cache to update for you.  I'll check again in a little while and see if it's still working.

[2021-05-24 23:34] jchodera commented on #49
OK, they started working when I made this change:
![image](https://user-images.githubusercontent.com/3656088/119418861-d5f68880-bcad-11eb-800b-68f4016e6d30.png)

It looks like they're still not `https`, however.

[2021-05-25 06:55] Yoshanuikabundi opened #50 "Docs are served only over HTTP"
The OpenMM [User's Manual](http://docs.openmm.org/latest/userguide/index.html), [Python API docs](http://docs.openmm.org/latest/api-python/index.html), [C++ API docs](http://docs.openmm.org/latest/api-c++/index.html), and [Developer Guide](http://docs.openmm.org/latest/developerguide/index.html) are all served over HTTP rather than HTTPS. We should serve via HTTPS and redirect HTTP requests to HTT

[2021-05-25 16:06] jchodera commented on #50
[Yep!](https://github.com/openmm/openmm-org/issues/49#issuecomment-847421198) Any idea how we fix this? I couldn't figure it out.

The docs are served from an S3 bucket, and the website is now served from GitHub Pages.

[2021-05-25 16:06] jchodera commented on #49
Closing this since migration is complete, and http/https issue is separated into #50.

[2021-05-26 03:22] Yoshanuikabundi commented on #50
Haven't used S3 before, but [apparently](https://docs.aws.amazon.com/AmazonS3/latest/userguide/website-hosting-custom-domain-walkthrough.html) it doesn't directly support HTTPS and we'd need to go through [CloudFront](https://aws.amazon.com/premiumsupport/knowledge-center/cloudfront-serve-static-website/). It might also be possible to set Jekyll up to clone the OpenMM repo, run Sphinx/Doxygen and

[2021-05-26 09:30] raimis commented on #50
Maybe a simpler approach is:
- Run Sphinx/Doxygen with GitHub Actions
- Commit the generated HTML files into a branch
- Serve the docs with GitHub Pages from that branch

Or, alternatively, serve the docs from ReadTheDocs.

[2021-05-26 09:51] raimis commented on #49
[builder.openmm.org ](http://builder.openmm.org)seems to be broken:

[code]

This might be not a DNS issue.

[2021-05-26 16:01] peastman commented on #49
Where did you find a reference to builder.openmm.org?  It hasn't been supported in many years.

[2021-05-26 16:17] jchodera commented on #49
I spotted an error in the DNS entry. I've made the fix, and we'll see if it starts working soon.

[2021-05-26 17:19] jchodera commented on #49
http://builder.openmm.org is working once again! The issue was that the DNS entry was pointing to a bucket in the wrong region. For some reason, builder is in `us-east-1` and the docs bucket is in `us-west-1`!

Please reopen if this is not resolved.

[2021-05-26 17:19] #49 closed

[2021-05-26 17:25] peastman commented on #49
Please make it stop working again!  Like I said, it hasn't been supported in years.  Where is it being served from?  We should track it down and, if possible, take it down.

[2021-05-26 17:46] jchodera commented on #49
Whoops! Next time, could you be explicit about what you think the intended behavior should be, @peastman?

How would you like me to deactivate it?
1. Remove the DNS entry and tweet that we are no longer supporting it
2. Blow away the S3 bucket containing it as well
3. Something else?

[2021-05-26 18:17] peastman commented on #49
Remove the DNS.  I don't think there's anything to tweet.  We haven't supported it in many years.  It's been a long time since it actually produced correct code.  So far as I know, we removed all references to it from our website years ago.  That's why I asked @raimis how he even knew it existed.  Where did you find a reference to it?

[2021-05-26 18:23] raimis commented on #49
@peastman, it shows up frequent, if searching something about OpenMM on Google.

[2021-05-26 19:58] jchodera commented on #49
@peastman : I've deleted the builder DNS entry and deleted my tweet about having fixed the builder following DNS migration.

What should we do about the frequent search hits?

[2021-05-26 20:02] peastman commented on #49
How very annoying!  Let's make sure none of our websites have links to it anywhere.  Once the URL no longer works, hopefully Google will figure out quickly to stop directing people to it.

[2021-05-31 11:47] raimis commented on #25
@Yoshanuikabundi idea from https://github.com/openmm/openmm-org/pull/45#issuecomment-845634994

[2021-06-22 16:33] salotz-sitx opened #52 "Adding wepy to the OpenMM ecosystem"
I've been using OpenMM as the main MD engine inside of [wepy](https://github.com/ADicksonLab/wepy) for a few years now and it would be nice to have it added to the ecosystem page.
Let me know what else you want for it.

Here is the description:

[2021-06-22 19:03] jchodera opened #53 "Adjust fonts and font sizes"
The new layout has an awkward whitespace-to-text ratio, with the fonts being plain and tiny with way too much whitespace between them:
![image](https://user-images.githubusercontent.com/3656088/122984236-a50f7f00-d351-11eb-92b9-25290e675a0e.png)
Could we adjust the font sizes for better whitespace-to-text ratios, and maybe adjust the font family to be a bit more modern?

[2021-06-22 19:32] peastman commented on #53
The fonts are larger on my computer.  Of course, the amount of white space will depend on how wide you make the window.

![Screen Shot 2021-06-22 at 12 31 17 PM](https://user-images.githubusercontent.com/4379786/122987722-c2dee300-d355-11eb-9151-871b2df8d735.png)

[2021-06-22 23:06] jchodera opened #54 "Turn navigation bar into hamburger on mobile"
The navigation bar is pretty much useless on mobile:
![Screenshot_20210622-130058](https://user-images.githubusercontent.com/3656088/123010552-afdb0b80-d373-11eb-9cae-f4617620e0fc.png)
Can we turn that bar into a hamburger (three vertical lines showing a drop-down navigation menu) on mobile?

[2021-06-22 23:09] jchodera commented on #53
This was normal full-screen browser size (the default?) on a MacBook Pro 13-inch 2019 model running Chrome.

Here's Safari:
![image](https://user-images.githubusercontent.com/3656088/123010801-2841cc80-d374-11eb-95eb-76aacc2b2387.png)

Is there a way to make this less machine-dependent?

[2021-06-22 23:40] peastman commented on #53
Font sizes and styles are all defined by the text styles in Vuetify: https://vuetifyjs.com/en/styles/text-and-typography/

[2021-06-29 13:54] jchodera opened #55 "docs.openmm.org no longer works"
Previously, docs.openmm.org redirected to the documentation.

It still redirects to https://openmm.org/documentation.html, but this no longer points to the documentation page.

Fixing the redirect from the DNS server won't work because there is no way to specify a URL that goes directly to the documentation tab. This seems problematic.

How can we fix this? Can we add some way to have a URL point

[2021-07-02 14:45] Yoshanuikabundi commented on #55
Hmm maybe I shouldn't have backed down so easily on the links thing when we were talking about the redesign :/

An interim fix might be to grab the built documentation.html from the previous site and just serve it at that URL.

[2021-07-02 14:59] Yoshanuikabundi commented on #55
Or! We could merge openmm/openmm#3165 and redirect docs.openmm.org to http://docs.openmm.org/development/userguide/. That PR adds links to all the other doc sites to each doc site. I could break this change out into a much smaller commit to get it through review faster. Would just be an interim change until we figure out the links.

[2021-07-14 18:19] jchodera commented on #55
cc @peastman @raimis

[2021-07-16 14:58] jchodera opened #57 "Add NIH funding acknowledgment"
Now that we are [NIH-supported](https://www.choderalab.org/news/openmm-nih-grant-awarded), we should add an acknowledgment to our NIH support and [NIH grant R01GM140090](https://reporter.nih.gov/search/XnJncpjxUkSKiIFzf9su9A/project-details/10100573).

[2021-07-16 15:53] raimis commented on #57
What text should I put exactly?

[2021-07-16 19:43] raimis commented on #55
@jchodera

The direct links to the tabs are working: https://raimis.github.io/openmm-org/documentation
Also, added a redirect: https://raimis.github.io/openmm-org/documentation.html --> https://raimis.github.io/openmm-org/documentation

[2021-07-16 19:49] peastman commented on #55
Excellent, thank you!

[2021-07-17 02:04] jchodera commented on #57
Here's the text:

# National Institutes of Health

OpenMM is currently (July 2021 - Mar 2025) supported by the [National Institute of General Medical Sciences](https://www.nigms.nih.gov/) of the [National Institutes of Health](https://www.nih.gov/) under award number [R01GM140090](https://reporter.nih.gov/search/XnJncpjxUkSKiIFzf9su9A/project-details/10100573).

[2021-07-17 03:31] jchodera commented on #55
Great! I'll add the DNS redirects for docs.openmm.org once this is merged!

[2021-07-19 12:09] raimis commented on #55
@jchodera you don't need to update the DNS. https://docs.openmm.org works again.

[2021-07-19 12:11] raimis commented on #55
Noticed one more problem:
-  http://docs.openmm.org -- works
- https://docs.openmm.org -- doesn't work

[2021-07-19 17:00] peastman opened #59 "Benchmarks are missing"
I just noticed that the benchmarks seem to be missing.  When I go to the Benchmarks tab it describes all the benchmarks we ran, but doesn't list any of the results.  I'm pretty sure they used to be there.  Something seems to have broken it.

[2021-07-19 17:09] peastman commented on #59
Looking at the browser console, I see some error messages appear when I load that tab.  They don't make a lot of sense to me: it claims https://openmm.org/benchmarks returned a 404, but the page still displayed?  Just as a guess, perhaps Vue Router is getting confused about the difference between https://openmm.org/benchmarks and https://openmm.org/benchmarks.json?

[2021-07-19 17:53] raimis commented on #59
The 404 error is intentional. It is a way to circumvent one limitation of GitHub pages (https://learnvue.co/2020/09/how-to-deploy-your-vue-app-to-github-pages/).

Yes, the benchmarks plot should be visible. I'll investigate!

[2021-07-20 17:05] #59 closed

[2021-07-20 17:06] raimis commented on #59
Works again: https://openmm.org/benchmarks

[2021-07-20 17:08] raimis commented on #38
After the migration to GitHub Pages, we no longer need to care about the SSL certificates.

[2021-07-20 17:08] #38 closed

[2021-07-20 17:09] raimis commented on #44
The new website is done!

[2021-07-20 17:09] #44 closed

[2021-07-20 17:13] peastman commented on #59
Looks good, thanks!

[2021-07-20 17:35] raimis commented on #57
@jchodera

Done: https://raimis.github.io/openmm-org/development

Any comments?

[2021-07-20 18:52] jchodera commented on #57
Perfect! Thanks, @raimis!

[2021-07-20 18:52] jchodera commented on #57
Fixed by #61

[2021-07-21 09:57] #57 closed

[2021-07-21 17:36] raimis commented on #52
@salotz-sitx

We are happy to mention wepy on the OpenMM website.

I just notice that the OpenMM installation instructions on the wepy website (https://adicksonlab.github.io/wepy/_source/installation.html) is outdated. Could you update the instruction or just reference to the relevant part of the OpenMM documentation.

[2021-07-21 17:37] raimis commented on #52
Also, here: https://adicksonlab.github.io/wepy/_source/introduction.html#compatibility

[2021-07-21 17:57] raimis commented on #12
The website should contain just a short summary and link to a relevant part of the user manual, i.e. like the installation instructions. However, I cannot find there anything specific in the user manual.

[2021-07-21 18:00] raimis commented on #30
We already have the list of members (https://openmm.org/development), but we still need a better description.

[2021-07-21 18:04] raimis commented on #39
We already have "OpenMM Team" (https://openmm.org/development). What is a criteria to include a person?

[2021-07-21 18:06] raimis commented on #48
What contact details should we include? Also, we should a better description and what  it means to be in the OpenMM team.

[2021-07-21 18:36] peastman commented on #12
We might not have a description of the system requirements.  There are conda packages for

- Linux (x86, PPC, ARM)
- Mac (x86, ARM)
- Windows (x86)

At least the reference and CPU platforms should work on just about any computer made in the last ten years.  OpenCL should work on GPUs from NVIDIA, AMD, and Intel going back almost as far.  The oldest CUDA we have conda packages for is 9.2.  I'm not

[2021-07-25 19:33] salotz commented on #52
I updated the documentation. Thank you @raimis

[2021-07-26 18:39] #52 closed

[2021-07-26 18:51] raimis commented on #52
The link has been added.

[2021-07-30 17:17] raimis commented on #37
Indeed, since GROMACS 4.6, they have own implementation: http://www.gromacs.org/GPU_acceleration

[2021-07-30 17:22] peastman commented on #37
Agreed.

[2021-07-30 17:22] #37 closed

[2021-08-05 03:08] jchodera opened #68 "Add links to webpages of consortium members"

[2021-08-09 14:58] raimis commented on #25
The best I can found for rendering Jupyter notebooks is https://github.com/jsvine/notebookjs. They have a demo to try https://jsvine.github.io/nbpreview/.

This should be sufficient for #66.

[2021-08-09 15:57] peastman commented on #25
That looks nice.

[2021-09-07 22:00] jchodera opened #74 "Potential website usability issues"
When I submitted the request to google to re-index the website, it notified me of these potential usability issues:

![image](https://user-images.githubusercontent.com/3656088/132416341-d35f3976-8fbe-4acd-881f-e3168e91c17e.png)

[2021-09-17 12:43] raimis commented on #21
This is no longer relevant. One can preview the modified website with GitHub Pages directly, .e.g https://raimis.github.io/openmm-org/.

[2021-09-17 12:43] #21 closed

[2021-10-07 09:22] kbaitsi opened #76 "Error while trying to install the openmmforcefields conda package"
I have been trying to install the openmmforcefields conda package following the instructions on http://docs.openmm.org/latest/userguide/application/02_running_sims.html#force-fields (conda install -c conda-forge openmmforcefields). However I keep getting the same result shown in the picture below. Any suggestions? I have anaconda installed on Windows 10.
![Στιγμιότυπο οθόνης 2021-10-07 103643](htt

[2021-10-07 09:30] raimis commented on #76
@kbaitsi you should this to https://github.com/openmm/openmmforcefields.

[2021-10-08 10:23] kbaitsi commented on #76
Thank you for your comment, but that didn't work either. I tried conda install --yes -c conda-forge openmmforcefields
and the instructions here https://open-forcefield-toolkit.readthedocs.io/en/0.8.0/installation.html. I also created a new environment with python 3.6 because python 3.10 still has issues with conda forge but none of these worked...

[2021-10-08 10:48] #76 closed, assigned to nobody

[2021-10-15 16:37] raimis commented on #55
The HTTPS problem is already mentioned in #50. So this redundant.

[2021-10-18 14:22] synjon-symthe opened #81 "Joint Amber/Charmm benchmark link for DHRF case does not work"
The dihydrofolate reductase (DHFR) models benchmark (Joint Amber/Charmm benchmark) link on
https://openmm.org/benchmarks
gives a page not found -404 error. (http://ambermd.org/amber10.bench1.html)

[2021-11-09 17:02] raimis commented on #81
The links is updated (https://github.com/openmm/openmm-org/pull/83)

[2021-11-09 17:02] #81 closed

[2021-11-09 17:24] raimis opened #84 "Update of the performance benchmarks"
- The current performance benchmarks (https://openmm.org/benchmarks) are just for OpenMM 7.4 and missing the latest GPUs (Turing and Apere cards).
- Only DHFR is on the OpenMM website, while the rest are on the SimTK website (https://simtk.org/plugins/moinmoin/openmm/Benchmarks).

[2021-11-09 17:39] peastman commented on #84
I've been meaning to update them.  I reran most of the benchmarks (the updated numbers are on simtk.org), but ran into problems trying to run the AMD benchmarks.  When I updated my driver, OpenCL stopped being able to see my GPU. :(  I just need to spend some time debugging it.

I don't have access to an Ampere card.  If someone does, those would be good benchmarks to add.

[2022-01-07 21:12] jchodera opened #87 "Clarify exactly which models of GPUs were used in benchmarks"
There seems to be significant variation in the performance of different models/variants of the same GPU (e.g. the multiple variants of A100 available), so we should provide more details in our benchmarks about exactly which model(s) were used.

[2022-01-07 21:33] peastman commented on #87
The A100s are on [Perlmutter](https://docs.nersc.gov/systems/perlmutter/system_details/).  They're 40 GB, 1410 MHz versions.

[2022-01-07 21:45] jchodera commented on #87
Maybe we should capture the output of `nivida-smi -q`?

The datasheet says there's a bunch of flavors of A100:
![image](https://user-images.githubusercontent.com/3656088/148611460-ed49a561-2a24-47f6-adcb-ae403ad566ae.png)

[2022-01-07 23:19] peastman commented on #87
The only difference between them is the amount of memory (40 or 80 GB) and the form factor (PCIe or SXM).  Neither of those should have any difference in speed.

Here's what nvidia-smi reports on the login node with the GPU idle.

[code]

Comparing to what you posted in https://github.com/openmm/openmm-org/pull/86#issuecomment-1007171890, the max clock rates for graphics, SM, and video are the sam

[2022-07-06 06:51] gundalav opened #90 "Openmm Example for Protein-Ligand Complex"
Hi,

Thanks for making this great tool.
Is there anywhere I can find example or tutorial for Protein-Ligand Complex modeling?
I'm thinking of something like [GROMACS tutorial of the same subject](http://www.mdtutorials.com/gmx/complex/index.html).

Thanks and hope to hear from you again .

G.V.

[2022-08-19 13:19] mateoalpha98 opened #91 "can't import openmm, openmm app ..."
The code i've been using for the last three months worked well until Monday, but now it appears this message:
python3 code.py
Traceback (most recent call last):
  File "/home/mateoc/Documentos/practiques/tleap_propka/code.py", line 1, in <module>
    from simtk.openmm.app import *
  File "/home/mateoc/miniconda3/envs/openmm/lib/python3.10/site-packages/simtk/__init__.py", line 1, in <module>
    i

[2022-08-19 15:37] peastman commented on #91
Could you move this to https://github.com/openmm/openmm?  This repository is for the website, not for users of OpenMM.

[2022-08-19 15:37] #91 closed

[2022-11-03 10:47] jmichel80 opened #92 "Update development page"
Hi, could we update the website to provide the following information at https://openmm.org/development

* OpenMM team

**Michel lab**
[Julien Michel](https://www.julienmichel.net/lab/julien)
[Stephen Farr](https://www.linkedin.com/in/stephen-farr-591569111/)

* Funding Sources

**EPSRC**
OpenMM is currently (November 2022 - October 2025) supported by the [Engineering and Physical Sciences Researh

[2022-11-04 18:14] #92 closed